<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The Home Page <%= 4+5+1 %> </h1>
    <!--  <%=   %>  form js-->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem accusantium suscipit eligendi, consectetur adipisci rem amet repellat 
       reprehenderit in magnam autem culpa minus asperiores alias et, sunt vel necessitatibus harum.
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, repudiandae illum. Perferendis, cumque mollitia, quam, aspernatur persp
       iciatis nemo molestiae quidem quasi ut delectus distinctio corporis magni porro 
       consequuntur. Blanditiis, natus.
    </p>
</body>
</html>