<nav>
    <button class="class1">hi1</button>
    <button class="class2">hi2</button>
    <button class="class3">hi3</button>
    <button class="class4">hi4</button>
    <button class="class5">hi5</button>
</nav>